extends ../layouts/layout

block content
  h1.text-center.mt-4 Register Here
  section.row.mt-4
    form.m-auto.col-md-3(method='post' action='/register')
      .form-group
        label(for='name') Name
        input#name.form-control(type='text' placeholder='Enter your name' autocomplete='off' name='name' class=hasError(errors, 'name')?'is-invalid':'')
        if(hasError(errors,'name'))
         .invalid-feedback #{getError(errors, 'email').msg}
      .form-group
        label(for='email') Email address
        input#email.form-control(type='text' aria-describedby='emailHelp' placeholder='Enter email' name='email' class=hasError(errors, 'email')?'is-invalid':'')
        small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
        if(hasError(errors,'name'))
         .invalid-feedback #{getError(errors, 'email').msg}
      .form-group
        label(for='password') Password
        input#password.form-control(type='password' placeholder='Password' name='password' autocomplete='off' class=hasError(errors, 'password')?'is-invalid':'')
        if(hasError(errors,'name'))
         .invalid-feedback #{getError(errors, 'password').msg}
      .form-group
        label(for='confirmPassword') Password
        input#confirmPassword.form-control(type='password' placeholder='Confrim password' name='confirmPassword' autocomplete='off' class=hasError(errors, 'confirmPassword')?'is-invalid':'')
        if(hasError(errors,'name'))
         .invalid-feedback #{getError(errors, 'confirmPassword').msg}
      button.btn.btn-primary(type='submit') Submit
